<footer style="margin-top: auto; padding-top: 3rem; padding-bottom: 1rem; display: block; text-align: center;">

  <small>
    <span>Icons credit <b><a class="links" rel="noreferrer nofollow noopener" target="_blank" href="https://3dicons.co/">3Dicons</a></b> by <b><a class="links" rel="noreferrer nofollow noopener" target="_blank" href="https://vijayverma.co/">vijay verma 🧙‍♂️</a></b></span>
    <span>Made with ❤️ by <b><a class="links" rel="noreferrer nofollow noopener" target="_blank" href="https://links.vyshnav.xyz/">{{ site.author.name }}</a></b></span>
    <span><a class="links" rel="noreferrer nofollow noopener" target="_blank" href="https://github.com/Vyshnav2255/notion-icons-3d"><span><b>Source code</b></span></a></span>
  </small>

</footer>