<div class="px-3 text-center intro">
    <h2 class="gradient" style="margin-bottom: 1.25rem;">{{ site.description }}</h2>
    <p class="text-center mb-5">
    {% include elements/iconbtn.html link="/get-started" text="Get started" icon="compass" %}
    {% include elements/iconbtn-sec.html link="/icon-packs" text="Other Icon Packs" icon="link" %}
    {% include elements/iconbtn-sec.html link="https://www.buymeacoffee.com/vyshnav" text="Buy Me a Coffee" icon="coffee" %}
    </p>

    {% assign share-url = page.url | prepend: site.baseurl | prepend: site.url %}

    <p class="text-center">
        <a class="links"
        href="https://twitter.com/intent/tweet?text={{ site.title }}&url={{ share-url }}&via={{ site.author.twitter }}&original_referer={{ share-url }}"
        rel="noreferrer nofollow noopener"
        target="_blank"
        title="Twitter"
        >Share on Twitter</a>
        &bull;
        <a class="links" href="mailto:notionv5@vyshnav.xyz">
            <span>Report an Issue</span>
        </a>
    </p>
</div>