.search-box {
    box-shadow:none !important;
}
.article {
    
    h1, h2 { margin-top: 32px; }


    img {
        display: block;
        max-width: 100%;
        height: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}