body {
    font-family: 'Space Grotesk', sans-serif;
}

// Footer
.social {
    text-decoration: none !important;
}


.btn{
    margin-bottom: 8px;
    background-color: #000;
    border-color: #000;
    color: #fff;
    border-radius: 0.25rem;
    font-weight: 500;
    transition: all .14s ease-out;
    cursor: pointer;
    svg{fill: #fff;}

    &:hover{
        box-shadow: 0.25rem 0.25rem 0 0 #000;
        transform: translate(-.25rem,-.25rem);
        background: linear-gradient(75.96deg, #FFC83A 13.64%, #FF008A 46.53%, #6100FF 78.88%);
        color: #000;
        svg{fill: #000;}
    }
}

.branding {
    display: inline;
}

.col-lg-10{
    padding-left: 10px;
    padding-right: 10px;
}

.text-center {
    text-align: center !important;
   }

.social-icon{
    fill: #575858;

    &:hover{
        fill: #f9c440;
    }
}

.icon-svg-themed{
    fill: #343a40;
}

small{
    font-size: 80%;
    font-weight: 400;
}

* {
  box-sizing: border-box;
}

.intro{
    margin-bottom: 78px;
    margin-top: 78px;
}

.links{
    color: #000000;

    svg{
        fill: #000000;
    }

    &:hover{
        color: #000000;
        text-decoration: underline;
        text-decoration-color: #000000;
        text-decoration-thickness: 2px;
    }
}

hr {
    background: #e4e4e4;
  }

  .metadata {
    font-size: 14px;
    margin-top: -6px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
}

.circle-color{
    width: 25px;
    height: 25px;
    border-radius: 15px;
    margin: 0 4px 0 4px;
    display: inline-block;
    border: solid 1px black;
}

.search-box{
    border-color: #000000;
}

.button-group{
    margin: 32px 0;
}

.input-group{
    margin: 2rem 0 1rem 0;
}

.gradient{
    background: linear-gradient(75.96deg, #FFC83A 13.64%, #FF008A 46.53%, #6100FF 78.88%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-group{
    button{
        background-color: transparent;
    }
    svg{fill: #000}
}