body {
    font-family: 'Space Grotesk', sans-serif;
    color: #000;
}

.bg{
    background-image: url(/assets/3d-gradient.svg),url(/assets/footer-gradient.svg);
    background-position: top,bottom;
    background-repeat: no-repeat;
    background-size: 1100px auto;
}

.active svg {fill: #fff !important;}

.btn{
    margin-bottom: 8px;
    background-color: #000;
    border-color: #000;
    color: #fff;
    border-radius: 0.25rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    transition: all .14s ease-out;
    cursor: pointer;
    svg{fill: #fff;}

    &:hover{
        background: linear-gradient(75.96deg, #FFC83A 13.64%, #FF008A 46.53%, #6100FF 78.88%);
        color: #000;
        svg{fill: #000;}
    }
}

.col-lg-10{
    padding-left: 10px;
    padding-right: 10px;
}

.text-center {
    text-align: center !important;
}

.social-icon{
    fill: #575858;

    &:hover{
        fill: #f9c440;
    }
}

.icon-svg-themed{
    fill: #343a40;
}

small{
    font-size: 80%;
    font-weight: 400;
}

* {
  box-sizing: border-box;
}

.intro{
    margin-bottom: 78px;
    margin-top: 78px;
}

.links{
    color: #000000;

    svg{
        fill: #000000;
    }

    &:hover{
        color: #000000;
        text-decoration: underline;
        text-decoration-color: #000000;
        text-decoration-thickness: 2px;
    }
}

hr {
    background: #e4e4e4;
  }

  .metadata {
    font-size: 14px;
    margin-top: -6px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
}

.circle-color{
    width: 25px;
    height: 25px;
    border-radius: 15px;
    margin: 0 4px 0 4px;
    display: inline-block;
    border: solid 1px black;
}

.search-box{
    border-color: #000000;
}

.input-group{
    margin: 2rem 0 1.25rem 0;
    input{
        padding: .75rem 1rem .75rem 3rem;
        background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23000000' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpath d='M176,116a60,60,0,1,1-60-60A60,60,0,0,1,176,116Zm53.6,113.7A8,8,0,0,1,224,232a8.3,8.3,0,0,1-5.7-2.3l-43.2-43.3a92.2,92.2,0,1,1,11.3-11.3l43.2,43.2A8,8,0,0,1,229.6,229.7ZM116,192a76,76,0,1,0-76-76A76.1,76.1,0,0,0,116,192Z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
    }

    svg{
        position: absolute;
    }
}

.gradient{
    background: linear-gradient(75.96deg, #FFC83A 13.64%, #FF008A 46.53%, #6100FF 78.88%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-group{
    border: 1px solid #000;
    border-radius: .25rem;
    .btn{
        margin-bottom: 0;
        border: 0;
        background-color: transparent;
        svg{fill: #000;}
        &:hover,&:active{
            background: #000;
            svg{fill: #fff;}
        }
    }
}

.btn-sec{
    background-color: #fff;
    color: #000;
    svg{fill: #000;}
}

.btn-ico{
    svg{margin-right: 0.5rem;}

    @media screen and (max-width: 768px){
        width: 80%;
    }
}