$dark-100: $dark;
$dark-300: #2c3032;
$dark-600: #242526;
$dark-900: #121212;

[data-theme="dark"] {
  body {
    background-color: $dark-900;
    color: $text-white;
  }

  // Inputs
  input {
    background-color: $dark-300;
    border-color: $dark-100;
    color: $dark-900;

    &::placeholder {
      color: rgba($text-white, 0.64);
    }

    &:focus {
      background-color: $dark-600;
      color: $text-white;
    }
  }
 
.branding{
    .text{
      fill: white;
    }
}

.text-muted{
  color: rgba(235,240,251,0.85) !important;
}

.social{
  color: #ebf0fbd9 !important;

  svg{
   fill: #ebf0fbd9 !important;
  }
}

.item{
  background-color: #1a1a1a !important;
  border: 1px solid #ffffff !important;
}
.btn{
  background-color: #4d4d4d;
  border-color: #ffffff;
  color: #fff;

  svg{
    fill: #fff !important;
  }
}

  .links{
    color: #d4d4d4;

    svg{
        fill: #d4d4d4;
    }
    &:hover{
      text-decoration-color: #d4d4d4;
    }
  }

  hr{
    background: #d4d4d4;
  }

  .search-box{
    border-color: white;
  }

  input{
      background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23fff' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpath d='M176,116a60,60,0,1,1-60-60A60,60,0,0,1,176,116Zm53.6,113.7A8,8,0,0,1,224,232a8.3,8.3,0,0,1-5.7-2.3l-43.2-43.3a92.2,92.2,0,1,1,11.3-11.3l43.2,43.2A8,8,0,0,1,229.6,229.7ZM116,192a76,76,0,1,0-76-76A76.1,76.1,0,0,0,116,192Z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  }

  .btn-group{
    button{
        background-color: transparent;
    }
  }

}